{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="csv-container">
    <div class="export-section">
        <p>To download current data as CSV:</p>
        <a href="{% url 'export_csv' %}">Download Data (CSV)</a>
    </div>

    {% if perms.iris_classifier.add_iris %}
    <div class="import-section">
        <form method="post" enctype="multipart/form-data" action="{% url 'import_csv' %}">
            {% csrf_token %}
            <input type="file" name="csv_file" accept=".csv">
            <button type="submit">Upload CSV</button>
        </form>
    </div>
    {% endif %}

    <ol>
        <li>Ensure the file is comma-separated.</li>
        <li>Pay attention to column order.</li>
    </ol>
    
    <ul>
        <li>File format must be <strong>.csv</strong>.</li>
        <li>There should be no empty cells between data.</li>
    </ul>
</div>
{% endblock %}