{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login-container">
    <div class="login-branding">
        <img src="{% static 'img/iris_virginica.jpg' %}" alt="Logo" class="logo-img">
        <p>Enter your credentials to access the system.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="input-row">
            <label>Username:</label>
            <input type="text" name="username">
        </div>
        <div class="input-row">
            <label>Password:</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Login</button>
    </form>

    <div class="extra-links">
        <a href="{% url 'register' %}">Create Account</a> |
        <a href="{% url 'password_reset' %}">Forgot Password</a>
    </div>
</div>
{% endblock %}