{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ml-container">
    <div class="prediction-box">
        <h3>Yapay Zeka Tahmin Motoru</h3>
        <img src="{% static 'img/iris_versicolor.jpg' %}" alt="Prediction" class="page-img">
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="number" step="0.1" name="sl" placeholder="Sepal Length">
        <input type="number" step="0.1" name="sw" placeholder="Sepal Width">
        <input type="number" step="0.1" name="pl" placeholder="Petal Length">
        <input type="number" step="0.1" name="pw" placeholder="Petal Width">

        <select name="algorithm">
            <option value="knn">K-Nearest Neighbors</option>
            <option value="dt">Decision Tree</option>
            <option value="svm">Support Vector Machine</option>
        </select>

        <button type="submit">Tahmin Et</button>
    </form>

    {% if prediction %}
    <h3>Sonuç: {{ prediction }}</h3>
    {% endif %}
</div>
{% endblock %}